#topSection {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

#pageCarousel .card-body, #pageSection .card-body, button, .contactForm {
    font-family: 'Aref Ruqaa', serif;
    font-size: 1.1rem;
    color: whitesmoke; 
}

#pageCarousel .card-header {
    font-family: 'Aref Ruqaa', serif !important;
}

#pageCarousel {
    background-color: rgba(255, 255, 255, 0);
}

#usluga button:visited {
    color: whitesmoke !important;
}


a#next.carousel-control-next, a#prev {
    display: none;
}

.navbar button {
    color: white;
    font-family: 'Aref Ruqaa', serif;
    font-size: 1.5rem;
}

#menuList {
    z-index: 1 !important;
}

#menuList ul li button:hover {
    color: yellow
}

#menuList ul li button {
    opacity: 0.8;
    margin: 0 1rem;
    font-weight: bold;
}

.active-page {
    color: yellow !important;
    text-decoration: underline !important;
}

@media only screen and (max-width: 990px) {
    #menuList {
        background-color: black !important;
    }
}

body {
    background-image: url('../images/spacebg.jpg');
    background-size: cover;
    width: 100vh;
    height: 100vw;
}

#mainContent p, h2 {
    margin: 4rem 4rem 0 0;
}

div#navbar {
    border-radius: 10px;
}

nav {
    height: 40px;
}

#navContent {
    background-image: linear-gradient(to bottom right, black, navy);
    border-radius: 10px;
    width: 70vw;
    margin-left: 5vw;
    font-size: 0.8rem;
}

#navContent li, #navContent button {
    margin: 0.1rem 0;
    padding: 0.1rem 0;
}

#pageSection > *, div.card {
    border-radius: 20px 20px 0 0 !important;
    background-color: rgba(255, 255, 255, 0);
}

div.card-header {
    text-align: center !important;
    color: white !important;
    background-image: linear-gradient(to right bottom, black,blue);
    border-radius: 20px 20px 0 0 !important;
}

div.card-body, #pageSection .card {
    min-height: 100%;
    background-color: rgb(21, 27, 141, 0.5) !important;
    background-size: cover !important;
    background-clip: unset !important;
}

#usluga li {
    background-color: rgb(21, 27, 141, 0) 
}

#usluga input {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 3rem;
    color: white;
}

.noBar::-webkit-scrollbar {
    display: none;
}

.price {
    margin: 0.5rem 1.5rem 2rem 0 !important;
}

#numerBody * {
    color: whitesmoke !important;
}