html {
    scroll-behavior: smooth;
}

#topSection {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: white;
}

#topSection img {
    width: 15%;
    height: 30%;
    position: absolute;
}

@media only screen and (max-width: 767px) {
    #topSection img {
        width: 40%;
    }
}

#pageCarousel .card-body, 
#pageSection .card-body, 
button, 
#emailForm, 
#sectionPostyNumerologia a, 
#posts,
.card-body *,
#postyNext h3 {
    font-family: 'Aref Ruqaa', serif;
    color: rgb(29, 29, 29); 
    animation: fadein 1s ease-in-out;
}

#mainContent .card-body {
    font-size: 100%;
    animation: fadein 1s ease-in-out;
}

.card-header h1 {
    font-family: 'Aref Ruqaa', serif !important;
    font-size: 200%;
}

#pageCarousel, 
#posts li *,
#emailForm {
    background-color: rgba(255, 255, 255, 0);
}

a#next.carousel-control-next, a#prev {
    display: none;
}

.navbar button {
    color: white;
    font-family: 'Aref Ruqaa', serif;
}

#menuList {
    z-index: 1 !important;
}

#menuList ul li button:hover {
    color: yellow
}

#menuList ul li button {
    opacity: 0.8;
    margin: 0 1rem;
    font-weight: bold;
}

.active-page {
    color: yellow !important;
    text-decoration: underline !important;
}

@media only screen and (max-width: 990px) {
    #menuList {
        background-image: linear-gradient(to bottom right, rgb(255, 0, 230), rgb(24, 213, 213), rgb(255, 0, 230));
    }
}

body {
    background-image: url('../images/tłoo/fav1.jpg');
    background-size: cover;
    width: 100vh;
    height: 100vw;
}

#mainContent p, h2 {
    margin: 4rem 4rem 0 0;
}

div#navbar {
    border-radius: 10px;
}

nav {
    height: 40px;
}

#navContent {
    background-image: url('../images/bg/card-header1.jpg');
    background-size: cover;
    border-radius: 10px;
    width: 70vw;
    margin-left: 5vw;
    font-size: 70%;
}

@media only screen and (max-width: 827px) {
    #navContent {
        position: relative !important;
        width: 90vw !important;
    }
}

#navContent li, #navContent button {
    margin: 0.1rem 0;
    padding: 0.1rem 0;
}

#pageSection .card {
    border-radius: 20px 20px 0 0 !important;
    background-color: rgba(0,0,0,0.1) !important;    
}

div.card-header {
    color: white;
    text-align: center !important;
    background-image: linear-gradient(to right bottom, rgb(0, 0, 0), blue 20%, aqua 80%);
    border-radius: 20px 20px 0 0 !important;
}

#pageSection > *, div.card {
    min-height: 100%;
    background-color: rgba(57, 62, 140, 0) !important;
    background-size: cover !important;
    background-clip: unset !important;
}

#mainContent .card {
    border: none;
}

#usluga li{
    background-color: rgb(21, 27, 141, 0); 
    color: white;
}

#usluga input {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 3rem;
    color: white;
}

.noBar::-webkit-scrollbar {
    display: none;
}

.price {
    margin: 0.5rem 1.5rem 2rem 0 !important;
    font-size: 100%;
}

#sectionPostyNumerologia a, 
#posts ul li, 
#contactPage ul li,
#sectionPostyNumerologia .card-body, 
#postySection a {
    background-color:rgb(21, 27, 141, 0) !important;
}

#postySection a span {
    position: relative;
    top: 0.1rem;
    right: 1rem;
}

#sectionPostyNumerologia a:hover, 
#postySection a:hover {
    cursor: pointer;
    background-color: rgb(21, 27, 141, 0.5) !important;
}

#sectionPostyNumerologia a:active {
    background-color: rgb(21, 27, 141, 0.8) !important;
}

.fa-caret-right {
    position: relative;
    top:2.5rem;
    right: 1.4rem;
}

#postyNext .col-12:hover {
    transform: scale(1.1);
}

#postyNext button {
    position: relative !important;
    height: 15em !important;
    width: 90% !important;
}

.fadein {
    animation: fadein 0.5s ease-out ;
  }
  @keyframes fadein {
    from { transform: scale(0)}
    to   { transform: scale(1)}
  }

  .scrollToTop{
    width:7%; 
    height:7%;
    padding:10px; 
    text-align:center; 
    text-decoration: none;
    bottom:7%;
    left: 50%;
    display:none;
    color: black;
}
.scrollToTop:hover{
    text-decoration:none;
    transform: scale(1.3);
}        